
h1 {font-family: "Arial"; font-size: medium; text-align: center}
p {font-family: "Times New Roman"; font-size: small; text-align: center}


.heading{

    font-size: large;
    font-family: "Arial Black";
    width: 40%;
    height: 40%;
    padding: 20px;
    border: 3px solid gray;
    margin: auto;
    background-color: wheat;
}

.row{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
<!--border: solid gray;-->
    padding: 30px;
    margin: auto;
    margin-top: 0%;
    margin-left: 10%;
    margin-right: 10%;
}



.tile{
    opacity: 0.8 ;
    margin-left: 3%;
    margin-right: 1%;
    margin-top: 1%;
    min-width: 28.5%;
    min-height: 40%;
    padding: 10px;
    border-style: groove;
    border-top: 10px solid gray;
    box-sizing: border-box;
}

.tile:hover{
    opacity: 1 ;
    cursor: pointer;

}